/* 
    Document   : hivestyle
    Created on : Mar 10, 2012, 3:24:57 PM
    Author     : smarkoski
    Description:
        Purpose of the stylesheet follows.
*/


#hiveDisplayWrapper {
    position: relative;
    overflow: hidden;
    float: left;
    width: 900px;
    height: 400px;
    border: 1px solid #CCC;
    margin: 5px auto;
}

#hiveDisplay {
    width: 1000px;
    height: 1000px;
    border: 1px solid #EEE;
}

#hiveGraphics {
    position: absolute;
    top: 0;
    left: 0;
}

.hiveContentBox {
    position: absolute;
    border: 1px solid #DDD;
    padding: 5px;
    cursor: default;
    background-color: #EEE;
    font-size: 12px;
    height: 125px;
    width: 270px;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 3px #000000;
    -webkit-box-shadow: 1px 1px 3px #000000;
    box-shadow: 1px 1px 3px #000000;
}

.expandContent {
    height: 10px;
    width: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid black;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.hiveContentBox .commentCount {
    position: absolute;
    height: 10px;
    width: 20px;
    right: 5px;
    bottom: 5px;
    border: solid 1px #CCC;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    cursor: pointer;
}

.hiveContentBox .commentCount span {
    padding: 1px;
}

.hiveContentBox .contentOwner {
    font-weight: bold;
    font-size: 14px;
}

#depthSlider {
    float: left;
    margin: 0 20px;
    height: 400px;
}

#alertIndicator {
    height: 20px;
    position: relative;
    top: 35px;
    width: 140px;
}

#alertIndicator .alertIndicatorIcon {
    width: 5px;
    height: 10px;
    background-color: black;
}
